@import 'bulma/bulma.sass';

.hide {
  display: none;
}
a.tag {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    background-color: darken(#3273dc, 10%);
  }
}

#content_table {
  max-width: 500px;
  overflow: hidden;
}